<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show data </title>
</head>
<body>
    <style>
        h2{
            font-style: italic;
            background-color: lightblue;
        }
    </style>
    <h2>Total user data is :<%=data%></h2>
</body>
</html>